/*
Orden para asignar estilos:
1. Posicionamiento
2. Modelo de caja (Box model)
3. Tipografia
4. Visuales
5. Otros
*/
:root {
    /* Colores */
    --primary-color: #f7931a;
    --primary-color-soft: #ffe9d4;
    --secondary-color: #1a9af7;
    --secondary-color-soft: #e7f5ff;
    --warm-black: #201e1c;
    --black: #282623;
    --grey: #bababa;
    --off-white: #faf8f7;
    --just-white: #fff;
}
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html {
    font-size: 62.5%;
    font-family: 'DM Sans', sans-serif;
}
